html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: visible;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  border-width: 0;
  color: #c3c6db;
  background-color: #d5d4d8;
}

table {
  width: 100%;
}

th {
  color: #d5d4d8;
  font-size: 12px;
}

td {
  font-size: 20px;
}

.invoice-container {
  max-width: 550px;
  max-height: 550px;
  margin: 64px auto;
  background: #1f2937;
}

.table-section {
  margin-top: 20px;
}

.top-container {
  padding: 0;
  margin: 0;
  background-color: #3a69d2;
  justify-content: center;
  text-align: center;
  padding: 35px 70px;
}

.bot-container {
  padding: 35px 35px 80px 35px;
  text-align: center;
}

#notification {
  font-size: 10px;
}

.top-container p {
  font-size: 12px;
}
.buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-btn {
  margin: 0 5px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background: #d1d4f4;
  color: #4a4e74;
  justify-content: space-between;
  padding: 0px 20px;
}
.add-btn:hover {
  background-color: #f5f5f5;
}
.table-left {
  text-align: left;
}

.table-right {
  text-align: right;
}

.send-btn {
  width: 100%;
  border-radius: 7px;
  height: 40px;
  background-color: #3a69d2;
  color: white;
  border: none;
  margin: 30px 0 30px 0;
}

.send-btn:hover {
  border: groove 1px white;
}

.remove-btn {
  font-size: 8px;
  border: none;
  background-color: transparent;
  color: #d5d4d8;
}

.remove-btn:hover {
  font-size: 9px;
  color: #fff;
}

.currency {
  color: #c3c6db;
}

.notification-red {
  color: rgb(255, 0, 0);
}

.notification-green {
  color: rgb(0, 211, 0);
}

.notification-orange {
  color: orange;
}

#note-text {
  font-size: 12px;
  color: #f5f5f5;
}

#total-el {
  font-size: 30px;
  color: #f5f5f5;
}
